/* Captility base css. LESS compiled to CSS.
 * @author Daniel Deppe
 */
/* ###############################################
 * ################# VARIABLES  ##################
 * ###############################################*/
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
/* ###############################################
 * ############ BASE GRID LAYOUT  ################
 * ###############################################*/
/** Headline Adjustment */
@media (min-width: 992px) {
  .page-header {
    padding-bottom: 0px;
  }
  .page-header > h1 small {
    text-align: right;
    right: 15px;
    position: absolute;
    bottom: 30px;
  }
}
/** Content Pane*/
.content-pane {
  overflow: scroll;
}
/** Margin under Navbar */
.container-lower {
  margin-top: 75px;
}
/* ###############################################
 * ################# COMPONENTS  #################
 * ###############################################*/
/** Inverse Buttons. */
.btn-inverse {
  color: #999;
  background-color: #333;
  border-color: #777;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #444;
  border-color: #999;
}
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background-image: none;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #444;
  border-color: #999;
}
/* ###############################################
 * ################# WIDESCREEN  #################
 * ###############################################*/
/** Changes when wide screen avaliable */
@media (min-width: 992px) {
  /* Content Tabs arragement: vertically: */
  .tabs-below .nav-tabs,
  .tabs-right .nav-tabs,
  .tabs-left .nav-tabs {
    border-bottom: 0;
  }
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  .tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
  }
  .tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
  }
  .tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
  }
  .tabs-below > .nav-tabs > li > a:hover,
  .tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
  }
  .tabs-below > .nav-tabs > .active a,
  .tabs-below > .nav-tabs > .active a:hover,
  .tabs-below > .nav-tabs > .active a:focus {
    border-color: transparent #ddd #ddd #ddd;
  }
  .tabs-left > .nav-tabs > li,
  .tabs-right > .nav-tabs > li {
    float: none;
  }
  .tabs-left > .nav-tabs > li > a,
  .tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
  }
  .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
    margin-top: -21px;
    /* opt. Heigh Alignment. */
  }
  .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eee #ddd #eee #eee;
  }
  .tabs-left > .nav-tabs > .active a,
  .tabs-left > .nav-tabs > .active a:hover,
  .tabs-left > .nav-tabs > .active a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #fff;
  }
  .tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
  }
  .tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }
  .tabs-right > .nav-tabs > li > a:hover,
  .tabs-right > .nav-tabs > li > a:focus {
    border-color: #eee #eee #eee #ddd;
  }
  .tabs-right > .nav-tabs > .active a,
  .tabs-right > .nav-tabs > .active a:hover,
  .tabs-right > .nav-tabs > .active a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #fff;
  }
  /* Padding between Tabs and Content */
  .content-pane {
    padding-left: 50px;
  }
  .navbar-nav > li {
    border-left: 1px dashed #555;
  }
}
/**
  * Media Queries
  */
/* ###############################################
 * ################## PLUGINS  ###################
 * ###############################################*/
/** Glyphicons **/
h3 span.glyphicon {
  margin-right: 7px;
}
/** Show Auth-message as bootstrap alert*/
#authMessage {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
#authMessage h4 {
  margin-top: 0;
  color: inherit;
}
#authMessage .alert-link {
  font-weight: bold;
}
#authMessage > p,
#authMessage > ul {
  margin-bottom: 0;
}
#authMessage > p + p {
  margin-top: 5px;
}
#authMessage hr {
  border-top-color: #a6e1ec;
}
#authMessage .alert-link {
  color: #245269;
}
