/* Captility base css. LESS compiled to CSS.
 * @author Daniel Deppe
 */

/* ###############################################
 * ################# VARIABLES  ##################
 * ###############################################*/
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/alerts";
@import "bootstrap/buttons";

@body-background-color: #f0f0f0;

@navbar-height: 50px;
@navbar-margin: 25px;

@content-pane-padding: 50px;

/* ###############################################
 * ############ BASE GRID LAYOUT  ################
 * ###############################################*/

@media (min-width:@screen-md-min) {
  html, body {

    height: 100%;
    background-color: #fff; //@body-background-color;
  }

  .page-header {

    margin-top: 25px;
  }

  .container-wrapper {

    min-height: 100%;
    height: auto !important;
    height: 100%;
    background-color: #fff;
    padding: 0;
    padding-bottom: 40px;
    margin: 0 auto;
    //box-shadow: 0px 0px 5px #aaa;
  /*border-radius: @border-radius-base;*/
  }
}

@media (min-width: @screen-md-min) {

  .container-wrapper {
    width: @screen-md-min;
  }
}

@media (min-width: @screen-lg-min) {

  .container-wrapper {
    width: @screen-lg-min;
  }
}

/** Headline Adjustment */

@media (min-width:@screen-md-min) {

  .page-header {
    padding-bottom: 0px;

    > h1 small {
      text-align: right;
      right: 15px;
      position: absolute;
      bottom: 30px;
    }
  }
}

/** Content Pane*/
.content-pane {

  overflow: scroll;
}

/** Margin under Navbar */
.container-lower {

  margin-top: @navbar-height + @navbar-margin;
}

/** Navbar Search Alignment */
@media (min-width:@screen-lg-min) {
  .navbar-search {

    padding-right: 0;
  }
}

@media (max-width:@screen-lg-min) {
  .navbar-search {

    display: none;
  }
}

.navbar-btn-search {

  font-family: @font-family-nav;
}

//Nav Dropdown Infos
.dropdown-menu > li.list-info {
  position: relative;
  display: block;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 20px;
  margin-bottom: 5px;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
}

.related {
  overflow-x: scroll;
}

.actions-column {

  overflow-x: scroll;
}

.panel-heading {

  background-color: #f5f5f5;
  padding: 9px;
  padding-left: 15px;
}

.panel-footer {
  padding: 6px 15px;
}

.submit-panel {

  margin-top: 75px;
}

small.disabled {

  color: #999;
}

#ScheduleContainer .panel {

  margin: 40px 0px;
}

.panel-link {

  cursor: pointer;
}

/* ###############################################
 * ################# TYPOGRAPHY  #################
 * ###############################################*/

//Import Icons: Elusive Webfont:
@import "elusive-webfont.less";

.cp-icon-lecturer {
  background-image: url('../img/icons/cp-icon-lecturer.svg');
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

.cp-icon-lecturer:before {
  content: "\e";
}

h1, .fc-event-time, .cw, .navbar-brand, qtip-calendar {

  font-family: @font-family-titilium;
}

.navbar-brand {

  font-size: 22px;
  padding-top: 14px;
}

/* ###############################################
 * ################# Info Banners  ###############
 * ###############################################*/

.info-banner {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}

.info-banner h4 {
  margin-top: 0;
  margin-bottom: 0px;
  cursor: pointer;
}

.info-banner strong {
  font-weight: 400;
}

.info-banner p:last-child {
  margin-bottom: 0;
}

.info-banner-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}

.info-banner-danger {
  >h4, strong {
    color: #b94a48;
  }
}

.info-banner-warning {
  >h4, strong {
    background-color: #faf8f0;
    border-color: #faebcc;
  }
}

.info-banner-warning {
  >h4, strong {
    color: #8a6d3b;
  }
}

.info-banner-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}

.info-banner-info {
  >h4, strong {
    color: #34789a;
  }
}

/* ###############################################
 * ################# COMPONENTS  #################
 * ###############################################*/

/** Inverse Buttons. */
@import "button-inverse";

/** Qtip2 **/
@import "jquery.qtip.less";

/* ###############################################
 * ################# DATESELECT  #################
 * ###############################################*/

/*.form-control,*/
.input-thin {

  width: 66.6666666%;
}

.form-control-date {

  display: inline-block;
  width: initial;
  margin: 5px;
}

/* ###############################################
 * ################# WIDESCREEN  #################
 * ###############################################*/
/** Changes when wide screen avaliable */
@media (min-width:@screen-md-min) {

/* Content Tabs arragement: vertically: */
@import "bs3-stacked-tabs";


/* Padding between Tabs and Content */
  .content-pane {

    padding-left: @content-pane-padding;
  }

  .navbar-nav>li {

    border-left: 1px dashed #555;

  }
}

.tabs-left {

  margin-bottom: 25px;
}

/**
  * Media Queries
  */

@media (max-width:767px) {
}

@media (min-width:768px) {
}

@media (min-width:@screen-md-min) {
}

@media (min-width:@screen-lg-min) {
}

/* ###############################################
 * ################## PLUGINS  ###################
 * ###############################################*/

/** Glyphicons **/
.glyphicon {

  margin-right: 7px;
  color: inherit;
}

button .glyphicon {

  top: 2px;
}

.glyphicon-leftTabs {

  display: inline;
  margin-left: -7px;
}

/** Show Auth-message as bootstrap alert*/
#authMessage {
  .alert;
  .alert-danger;
}

/* ###############################################
 * ############### COLOR PALETTE  ################
 * ###############################################*/

@import "../css/bootstrap-colorpalette.css";

/* ###############################################
 * ################ DATEPICKER  ##################
 * ###############################################*/

@media (min-width: @screen-lg-min) {
  .datepicker-years, .datepicker-months {

    margin: 0 auto;
    margin-left: 20px;

  }
}

.datepicker-inline {
  width: inherit;
}

.datepicker tr.weekHighlight {
  background-color: #DAEDF8;
}

.datepicker tr.week td.day:nth-child(2) {
  border-top-left-radius: 6px;
}

.datepicker tr.week td:last-child {
  border-top-right-radius: 6px;
}

.datepicker tr.week td.day:nth-child(2) {
  border-bottom-left-radius: 6px;
}

.datepicker tr td:last-child {
  border-bottom-right-radius: 6px;
}

/* ###############################################
 * ################ FULLCALENDAR  ################
 * ###############################################*/
/** Fullcalendar Adjustments */
@import "fullcalendar";

#calendar {

  margin-top: 5px;
}

.fc-state-default {
/* non-theme */
  border: 1px solid;
  .btn-default;
}

.fc-header-title h2 {
  font-size: 21px;
  opacity: 0.75;
}

.fc-button-today {
/*.btn-primary;
text-shadow: none;*/
}

.fc-state-disabled {
  opacity: 1;
  color: #aaa;
}

.fc-widget-header {
  font-weight: normal;
}

.fc-event:hover {
  opacity: 0.75;
}

/*.fc-first th.fc-widget-header {

  border-top-left-radius: @border-radius-base;
  border-top-right-radius: @border-radius-base;
}*/

.fc-first {
  border-top-left-radius: 5px !important;
}

.fc-last {
  border-top-right-radius: 5px !important;
}

.fc-col0 {
  border-top-left-radius: 0px !important;
}

#calendar .fc-event {
  .box-shadow(2px 2px 3px #aaa);
}

.fc-event-time {

  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 0.25em;
  display: inherit;
}

/** Define Event Colors **/
@eventColorTextLight: #fff;
@eventColorTextDark: #333;
@eventColorBlue: #3a87ad;
@eventColorBlack: #202020;
@eventColorWhite: #FDFDFD;
@eventColorOrange: #f70;
@eventColorRed: #FD3E20;
@eventColorYellow: #FFEB00;
@eventColorPurple: #5F43A8;
@eventColorGreen: #009406;
@eventColorIndigo: #009B9B;
@eventColorMint: #579B00;
@eventColorPink: #FF38D7;

.eventColorBlue {

  border: 1px solid @eventColorBlue;
  background-color: @eventColorBlue;
  color: @eventColorTextLight;
}

.eventColorBlack {

  color: @eventColorTextLight;
  background-color: @eventColorBlack !important;
}

.eventColorWhite {

  color: @eventColorTextDark;
  background-color: @eventColorWhite !important;
}

.eventColorOrange {

  color: @eventColorTextLight;
  background-color: @eventColorOrange !important;
}

.eventColorRed {

  color: @eventColorTextLight;
  background-color: @eventColorRed !important;
}

.eventColorYellow {
  color: #666;
  background-color: @eventColorYellow !important;
  >.fc-event-inner .fc-event-time {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.eventColorPurple {
  color: @eventColorTextLight;
  background-color: @eventColorPurple !important;
}

.eventColorGreen {
  color: @eventColorTextLight;
  background-color: @eventColorGreen !important;
}

.eventColorIndigo {
  color: @eventColorTextLight;
  background-color: @eventColorIndigo !important;
}

.eventColorMint {
  color: @eventColorTextLight;
  background-color: @eventColorMint !important;
}

.eventColorPink {
  color: @eventColorTextLight;
  background-color: @eventColorPink !important;
}

.qtip-eventColorBlue {

  border-color: @eventColorBlue;

  >.qtip-titlebar, .qtip-titlebar a.qtip-icon span.ui-icon {
    .eventColorBlue;
    border-color: @eventColorBlue;
  }
}

.qtip-eventColorBlack {

  border-color: @eventColorBlack;

  >.qtip-titlebar, .qtip-titlebar a.qtip-icon span.ui-icon {
    .eventColorBlack;
    border-color: @eventColorBlack;
  }
}

.qtip-eventColorWhite {

  border-color: @eventColorWhite;

  >.qtip-titlebar, .qtip-titlebar a.qtip-icon span.ui-icon {
    .eventColorWhite;
    border-color: @eventColorWhite;
  }
}

.qtip-eventColorOrange {

  border-color: @eventColorOrange;

  >.qtip-titlebar, .qtip-titlebar a.qtip-icon span.ui-icon {
    .eventColorOrange;
    border-color: @eventColorOrange;
  }
}

.qtip-eventColorRed {

  border-color: @eventColorRed;

  >.qtip-titlebar, .qtip-titlebar a.qtip-icon span.ui-icon {
    .eventColorRed;
    border-color: @eventColorRed;
  }
}

.qtip-eventColorYellow {

  border-color: @eventColorYellow;

  >.qtip-titlebar, .qtip-titlebar a.qtip-icon span.ui-icon {
    .eventColorYellow;
    border-color: @eventColorYellow;
  }
}

.qtip-eventColorPurple {

  border-color: @eventColorPurple;

  >.qtip-titlebar, .qtip-titlebar a.qtip-icon span.ui-icon {
    .eventColorPurple;
    border-color: @eventColorPurple;
  }
}

.qtip-eventColorGreen {

  border-color: @eventColorGreen;

  >.qtip-titlebar, .qtip-titlebar a.qtip-icon span.ui-icon {
    .eventColorGreen;
    border-color: @eventColorGreen;
  }
}

.qtip-eventColorIndigo {

  border-color: @eventColorIndigo;

  >.qtip-titlebar, .qtip-titlebar a.qtip-icon span.ui-icon {
    .eventColorIndigo;
    border-color: @eventColorIndigo;
  }
}

.qtip-eventColorMint {

  border-color: @eventColorMint;

  >.qtip-titlebar, .qtip-titlebar a.qtip-icon span.ui-icon {
    .eventColorMint;
    border-color: @eventColorMint;
  }
}

.qtip-eventColorPink {

  border-color: @eventColorPink;

  >.qtip-titlebar, .qtip-titlebar a.qtip-icon span.ui-icon {
    .eventColorPink;
    border-color: @eventColorPink;
  }
}

.qtip-titlebar {

  opacity: 0.85;
}

.qtip-content {

  font-size: 90%;

  > ul {
    list-style-type: none;
    margin-bottom: 0px;

    >li {
      display: inline-table;
      display: inline-flex;

      > .gl-ml {

        margin-left: 15px;
        margin-right: 3px;
      }
    }
  }

}

.gl-ms {

  margin-left: 7px;
  margin-right: 5px;
}

/* ###############################################
 * ################ SIDE Calendar  ################
 * ###############################################*/
.sideCalendar {

}

/* ###############################################
 * ################ SIDE TICKETS  ################
 * ###############################################*/
.sideTickets {

  >.panel-body {

    padding-bottom: 0px;
  }
}

.side-ticket-heading {

  padding: 10px 5px 10px 10px;
}

/* ###############################################
 * ################ LANDING PAGE  ################
 * ###############################################*/

@landing-page-bgDefault      : #258;
//#285F8F;
//#3276b1;
//#34789a;
@landing-page-bgHighlight    : #236E92;
//@eventColorBlue;
//#3276b1;
@landing-page-bgBorder       : #85a3b4;
@landing-page-colDefault     : #acd;
@landing-page-colHighlight   : #fff;

.landing-page-container {

  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
}

.landing-page-wrapper {

  box-shadow: none;
  width: 100%;
  padding: 35px 0px 35px 0px;
}

.landing-page-wrapper-black {

  background-color: #050510; //#023;
}

.landing-page-wrapper-blue {

  background-color: @landing-page-bgDefault;

}

.landing-page-wrapper-white {

  background-color: #fff;

}

.landing-page {

  > h1 {

    font-size: 120px;
    color: @landing-page-colHighlight;
    opacity: 0.9;
    margin-top: 50px;
    margin-left: -10px;

  }

  > h2 {

    font-size: 20px;
    color: #ddd;
    opacity: 0.75;
    font-family: @font-family-titilium;
    font-weight: 200;
  }

  > h3 {

    font-size: 20px;
    font-family: @font-family-titilium;
  }

  > h4 {

    font-size: 18px;
    font-family: @font-family-titilium;
  }

  > small {

    font-size: 13px;
    font-family: @font-family-titilium;
  }

  > strong {

    color: #2971AF; //@landing-page-bgDefault;
    font-weight: 400;
  }

  > p a.btn-primary {

    color: @landing-page-colHighlight;
    background-color: @landing-page-bgDefault;

    &:hover, &:active {

      color: #fff;
      background-color: @landing-page-bgHighlight;
    }
  }

  > .alert {

    margin-top: 70px;
  }

  > .media-glyphicon {

    font-size: 42px;
    padding: 9px 11px 11px 11px;
    background-color: #2971AF;
    width: 64px;
    height: 64px;
    color: #fff;
    border-radius: @border-radius-large;
    margin-top: 4px;
    &:hover, &:active {

      color: @landing-page-colDefault;
      background-color: @landing-page-bgHighlight;
    }
  }

  > .media-body h3 {

    margin: 0px;
  }

  > .media-body {
    height: 100px;
  }

  > .navbar-inverse {

    background-color: @landing-page-bgDefault;
    border-color: @landing-page-bgHighlight; //box-: 0px 5px 10px #000;

    .navbar-brand {
      color: @landing-page-colDefault;
      &:hover, &:focus {
        color: @landing-page-colHighlight;
      }
    }
    .navbar-nav {
      > li {
        > a {
          color: @landing-page-colDefault;
          border-left: 1px dashed @landing-page-bgBorder;
          &:hover, &:focus {
            color: @landing-page-colHighlight;
          }
        }
      }
      .active {
        > a, > a:hover, > a:focus {
          color: @landing-page-colHighlight;
          background-color: @landing-page-bgHighlight;
        }
      }
      .open {
        > a, > a:hover, > a:focus {
          color: @landing-page-colHighlight;
          background-color: @landing-page-bgHighlight;
          .caret {
            border-top-color: @landing-page-colHighlight;
            border-bottom-color: @landing-page-colHighlight;
          }
        }
      }
      > .dropdown {
        > a {
          .caret {
            border-top-color: @landing-page-colDefault;
            border-bottom-color: @landing-page-colDefault;
          }
          &:hover, &:focus {
            .caret {
              border-top-color: @landing-page-colHighlight;
              border-bottom-color: @landing-page-colHighlight;
            }
          }
        }
      }
    }
    .dropdown-menu {
      .divider {
        background-color: @landing-page-colDefault;
      }
    }
    .navbar-toggle {
      border-color: @landing-page-bgHighlight;
      &:hover, &:focus {
        background-color: @landing-page-bgHighlight;
      }
      .icon-bar {
        background-color: @landing-page-colDefault;
      }
    }
  }
  .navbar-collapse {
    > form.navbar-search {
      > .form-group {
        > input.btn-inverse {

          background-color: @landing-page-bgHighlight;
          border: 1px dashed @landing-page-bgBorder;
        }
      }
      > button.btn-inverse {
        background-color: @landing-page-bgHighlight;
        color: #ddd;
        border: 1px dashed @landing-page-bgBorder;
        &:hover, &:active {
          color: @landing-page-colHighlight;
        }
      }
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: @landing-page-colDefault;
  }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: @landing-page-colDefault;
      &:hover, &:focus {
        color: @landing-page-colHighlight;
        background-color: @landing-page-bgHighlight;
      }
    }
  }
}

.landing-page-black {

  > h2 strong, h3 strong, h4 strong {

    color: @landing-page-colHighlight;
    opacity: 0.75;
    font-weight: 00;
  }

  >h2 strong{

    color: #09f;
  }

}

.landing-page-blue {

  > h2 {

    color: @landing-page-colHighlight;
    font-weight: 200;
  }

  > h4, small {

    color: @landing-page-colDefault;
    opacity: 0.65;
    font-weight: 200;
  }

  > h3 strong, h4 strong {

    color: #2971AF; //@landing-page-bgDefault;
    font-weight: 400;
  }
}

.landing-page-white {

  > h2 {

    color: #000; //@landing-page-bgDefault;
  }

  > h4, small {

    color: #777; //@landing-page-bgDefault;
    font-weight: 200;
  }

  > h3 strong, h4 strong {

    color: #2971AF; //@landing-page-bgDefault;
    font-weight: 400;
  }

}

// LOGO
.landing-page-captility-logo-icon {

  height: 200px;
  left: -70px;
  top: -13px;
  width: 350px;
  position: absolute;
  z-index: 0;
  background-image: url('../img/logo/captility-logo-icon.svg');
  background-size: auto 100%;
  background-position: right top;
  background-repeat: no-repeat;

}

.landing-page-header.landing-page h1 {

  margin-left: 70px;
}

// FOOTER

.landing-page-footer-wrapper {
  padding: 0px 20px 10px 20px;
}

.landing-page-footer {

  padding: 0;
  margin: 0;

  > h3 {

    padding-bottom: 10px;
  }

  > span {

    color: #999;
  }

  > .media-glyphicon {

    font-size: 18px;
    padding: 3px 4px 4px 4px;
    background-color: #2971AF;
    width: 26px;
    height: 26px;
    color: #fff;
    border-radius: 4px;
    opacity: 0.85;

    &:hover, &:active {

      background-color: @landing-page-bgHighlight;
      opacity: 1;
    }
  }
}

// SHOWCASE

.landing-page-header {

  z-index: 5;
}

@media (max-width: @screen-md-min) {
  .landing-page-showcase {
    display: none;
  }
}

@media (min-width: @screen-md-min) {
  .landing-page-showcase {

    width: 60%;
    margin-left: 40%;
    padding: 0;
    height: 420px;
    position: absolute;
    z-index: 1;
    background-image: url('../img/landing-page/landing-page-showcase-bg.png');
    background-size: auto 100%;
    background-position: right top;
    background-repeat: no-repeat;

  }

}

.landing-page-showcase-body {

  width: 100%;
  padding: 0;
  height: 100%;
}


@media (min-width: @screen-md-min) {
  .landing-page-showcase-carousel {

    z-index: 2;
    padding: 0;
    width: 350px;
    position: absolute;
    top: 70px;
    right: -50px;
  }

}

@media (min-width: @screen-lg-min) {
  .landing-page-showcase-carousel {

    z-index: 2;
    padding: 0;
    height: 350px;
    width: 500px;
    position: absolute;
    top: 50px;
    right: -25px;
  }

}

ol.landing-page-showcase-carousel-indicators {

  bottom: auto;

  > li {

    border-color: #2971AF;

  }

  >li.active {

    background-color: #2971AF;
  }
}