/* Captility base css. LESS compiled to CSS.
 * @author Daniel Deppe
 */

/* ###############################################
 * ################# VARIABLES  ##################
 * ###############################################*/
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/alerts";
@import "bootstrap/buttons";

@navbar-height: 50px;
@navbar-margin: 25px;

@content-pane-padding: 50px;

/* ###############################################
 * ############ BASE GRID LAYOUT  ################
 * ###############################################*/

/** Headline Adjustment */

@media (min-width:992px) {

  .page-header {
    padding-bottom: 0px;

    > h1 small {
      text-align: right;
      right: 15px;
      position: absolute;
      bottom: 30px;
    }
  }
}

/** Content Pane*/
.content-pane {

  overflow: scroll;
}

/** Margin under Navbar */
.container-lower {

  margin-top: @navbar-height + @navbar-margin;
}

/** Navbar Search Alignment */
.navbar-search{

  padding-right: 0;
}

.navbar-btn-search{

  font-family: @font-family-nav;
}

/* ###############################################
 * ################# COMPONENTS  #################
 * ###############################################*/

/** Inverse Buttons. */
@import "button-inverse";

/** Qtip2 **/
@import "jquery.qtip.less";

/* ###############################################
 * ################# DATESELECT  #################
 * ###############################################*/

.form-control-date{

  display: inline-block;
  width: initial;
  margin: 5px;
}

/* ###############################################
 * ################# WIDESCREEN  #################
 * ###############################################*/
/** Changes when wide screen avaliable */
@media (min-width:992px) {

/* Content Tabs arragement: vertically: */
@import "bs3-stacked-tabs";


/* Padding between Tabs and Content */
  .content-pane {

    padding-left: @content-pane-padding;
  }

  .navbar-nav>li {

    border-left: 1px dashed #555;

  }
}

.tabs-left {

  margin-bottom: 25px;
}

/**
  * Media Queries
  */

@media (max-width:767px) {
}

@media (min-width:768px) {
}

@media (min-width:992px) {
}

@media (min-width:1200px) {
}

/* ###############################################
 * ################## PLUGINS  ###################
 * ###############################################*/

/** Glyphicons **/
h3 span.glyphicon {

  margin-right: 7px;
}

/** Show Auth-message as bootstrap alert*/
#authMessage {
  .alert;
  .alert-danger;
}

/* ###############################################
 * ################ FULLCALENDAR  ################
 * ###############################################*/
/** Fullcalendar */
@import "fullcalendar";

#calendar{

  margin-top: 5px;
}


.fc-state-default {
/* non-theme */
  border: 1px solid;
  .btn-default;
}

.fc-header-title h2 {
  font-size: 21px;
  opacity: 0.75;
}

.fc-button-today{
  /*.btn-primary;
  text-shadow: none;*/
}


.fc-state-disabled{
  opacity: 1;
  color: #aaa;
}

.fc-widget-header{
  font-weight: normal;
}

.fc-event:hover {
  opacity: 0.75;
}