/* Captility base css. LESS compiled to CSS.
 * @author Daniel Deppe
 */

@navbar-height: 50px;
@navbar-margin: 25px;

/**
 * Case Grid Layout.
 */

.container-lower{

  margin-top: @navbar-height + @navbar-margin;
}‚